"*":
  editor:
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    fontSize: 14
  core:
    themes: [
      "atom-dark-ui"
      "monokai"
    ]
  "exception-reporting":
    userId: "58c3c2ec-682b-9ba4-922f-983440765126"
  welcome:
    showOnStartup: false
  drupal:
    fileTypesPhp: "module,install,inc,test"
  "project-manager":
    environmentSpecificProjects: true
  "autocomplete-plus": {}
  "autoclose-html": {}
  "linter-rubocop":
    rubocopExecutablePath: "/Users/ayumi/.rbenv/shims/rubocop"
  linter:
    subtleLinterErrors: [
      "bootlint"
    ]
  "linter-erb":
    erbExecutablePath: null
    rubyOnRailsMode: false
  'linter-php':
    'phpExecutablePath': '/usr/bin/php' # php path. run 'which php' to find the path
  "linter-phpcs":
    phpcsExecutablePath: "/usr/bin/phpcs"
    standard: "PSR2"
    ignore: "*.blade.php,*.twig.php"
    enableWarning: 1

